* {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

#main {
  padding: 0 1em;
  max-width: $max-width;
  margin: 0 auto;
}

.recipe-header {
  @include clearfix;
  margin-top: 2em;
}

.recipe-image {
  @media screen and (min-width: 768px) {
    max-width: 50%;
    float:left;
    margin-right: 2em;
  }
}

.interative-icons {
  @include clearfix;
  list-style-type: none;
  padding: 0;
  text-align:center;
  border-bottom: 1px solid;
  padding: 0 0 1.5em 0;
  li {
    display: inline-block;
    margin-right: 1em;
    max-height: 3em;
    &:last-child {
      margin-right: 0;
    }
    i {
      font-size: 3em;
      @media screen and (min-width: 1050px) {
        margin-right: .2em;
      }
    }
    span {
      display: none;
      transform: translateY(-50%);
      @media screen and (min-width: 1050px) {
        display: inline-block;
      }
    }
  }
  &:last-of-type {
    display:none;
  }
  @media screen and (min-width: 768px) {
    padding: 1.5em 0;
    border-top: 1px solid;
    &:first-of-type {
      display: none;
    }
    &:last-of-type {
      display: block;
    }
  }
}

.recipe-body {
  @include clearfix();
  .info-container {
    @media screen and (min-width: 1050px) {
      width: 50%;
      float: left;
      &:nth-child(even) {
        padding-left: 2em;
      }
    }
  }
}

#sitehead {
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -66px;
  z-index: 2;
}
